[Unit]
Description=JMA Temperature to InfluxDB

[Service]
Type=oneshot
TimeoutSec=30s
WorkingDirectory=/home/pi/ghq/github.com/ebith/jmaTemp2influxdb
ExecStart=/usr/bin/node /home/pi/ghq/github.com/ebith/jmaTemp2influxdb/index.js
User=pi
